# For AWS EC2 deployment, keep PORT=3000 because the ALB target group uses port 3000.
# For local development, you may use PORT=3001 if needed.

PORT=3000
AWS_REGION=eu-north-1
COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=
USERS_TABLE=mini-jira-users
TEAMS_TABLE=mini-jira-teams
PROJECTS_TABLE=mini-jira-projects
TASKS_TABLE=mini-jira-tasks
COMMENTS_TABLE=mini-jira-comments
ACTIVITY_LOG_TABLE=mini-jira-activity-log
ORIGINAL_IMAGES_BUCKET=mini-jira-original-images
RESIZED_IMAGES_BUCKET=mini-jira-resized-images
ASSIGNMENT_TOPIC_ARN=
ASSIGNMENT_QUEUE_URL=
